{% load staticfiles %}

        <div id="footer">

            <div class="container">

                <div class="row">
                    <div class="span2">
                        <img src="{% static 'images/120x80_eu_flag.jpg' %}" alt="eu-flag" width="90" height="60" class="eu-flag">
                    </div>

                    <div class="span6 attribution-project">

                        <p>
                            <a href="http://www.opengovintelligence.eu/">OpenGovIntelligence project</a> has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No XXXX.
                        </p>

                    </div>
                    <div class="span2 attribution text-center">

                    </div>

                    <div class="span2 attribution text-center">
                        <p>
                            OGI toolkit interface developed by <a class="hide-text insight-footer-logo" href="http://insight-centre.org/">Insight Centre</a>
                        </p>

                    </div>
                </div>

            </div>
        </div>